body {
  position: relative;
}

.gsw-yellow {
  background-color: #fdb927;
}

.btn {
  margin: 8px;
  width: 160px;
}

#btn-reset {
  background: #552583;
}

/* Scoreboard */
.player {
  border-radius: 5%;
  top: 150px;
}

#player-1 {
  right: 150px;
}

#player-2 {
  left: 150px;
}

.player .player-info {
  font-weight: 600;
  margin-top: 10px;
}

.player-score {
  font-weight: 700;
  font-size: 55px;
  color: #fff;
}

.player .p-color{
  color: rgba(255, 255, 255, .2);
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 640px) {
  .player .p-name {
    font-size: 15px;
  }

  .player {
    top: 390px;
  }
  
  #player-1 {
    right: -55px;
  }
  
  #player-2 {
    left: -55px;
  }
}

@media screen and (min-width:640px) and (max-width: 768px) {
  .player .p-name{
    font-size: 25px;
  }

  .player .player-info {
    margin-top: 5px;
  }

  .player {
    top: -95px;
  }
  
  #player-1 {
    right: -15px;
  }
  
  #player-2 {
    left: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .player {
    top: -95px;
  }
  
  #player-1 {
    right: -10px;
  }
  
  #player-2 {
    left: -10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1480px) {
  .player {
    top: 50px;
  }
  
  #player-1 {
    right: 50px;
  }
  
  #player-2 {
    left: 50px;
  }
}


/* Board */

p[data-content="X"] {
  color: #007BFF;
}

p[data-content="O"] {
  color: #fdb927;
}

#board {
  position: relative;
  top: -85px;
}

.cell {
  width: 200px;
  height: 200px;
}

.cell p {
  font-weight: 600;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 6px rgba(150, 150, 150, 0.66);
}

#board .row {
  margin: 0 auto;
  width: 600px;
}

@media (max-width: 640px) {
  .cell {
    width: 100px;
    height: 100px;
  }
  
  #board .row {
    width: 300px;
  }
}

@media (max-width: 768px) and (min-width: 640px) {
  .cell {
    width: 125px;
    height: 125px;
  }
  
  #board .row {
    width: 375px;
  }
}

#row-0 {
  border-bottom: .7px solid  rgb(80, 73, 73);
}

#row-1 {
  border-bottom: .7px solid  rgb(80, 73, 73);
  border-top: .7px solid  rgb(80, 73, 73);
}

#row-2 {
  border-top: .7px solid rgb(80, 73, 73);
}

.col-no-0 {
  border-right: .7px solid  rgb(80, 73, 73);
}

.col-no-1 {
  border-right: .7px solid  rgb(80, 73, 73);
  border-left: .7px solid  rgb(80, 73, 73);
}

.col-no-2 {
  border-left: .7px solid  rgb(80, 73, 73);
}

/* .winner {
  filter: brightness(1.25);
} */
